global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "weather-http"
    metrics_path: /probe
    params:
      module: [http_2xx]
      hostname: [localhost]
    static_configs:
      - targets:
          - http://weather-app:4173
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115
