body {
  background-color: bisque;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
}

.header {
  display: flex;
  border-bottom: 2px solid;
  padding: 15px 0;
}

.flex {
  display: flex;
  flex: 1;
}

a {
  text-decoration: none;
  color: blueviolet;
}

/* weather шаблон */

.weather_main{
  padding: 15px 15px;
}
.weather {
  max-width: 320px;
  padding: 16px 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 8px;
}

.weather__title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.weather__location {
  font-size: 12px;
  opacity: 0.8;
}

.weather__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.weather__temp span {
  font-size: 32px;
  font-weight: 600;
}

.weather__sun {
  font-size: 12px;
  line-height: 1.4;
  text-align: right;
}

.weather__footer {
  font-size: 11px;
  opacity: 0.8;
}


.weather__week {
  margin-top: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 8px;
  font-size: 12px;
}

.weather-week__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.weather-week__day {
  font-weight: 500;
}

.weather-week__sun {
  text-align: right;
  opacity: 0.9;
}

.weather-week__temp {
  margin-left: 6px;
  opacity: 0.9;
}
